/* * {
  box-sizing: border-box;
} */
.track--display {
  margin-top: 3rem;
  padding-bottom: 3rem;
}
.track--item--anchor {
  text-decoration: none;
  margin: 2rem;
  padding-top: 1rem;
  background: #181818;
  border-radius: 5px;
  transition: background-color 0.4s ease;
}
.track--item--anchor:hover {
  background-color: #242424;
}

.track--img {
  display: flex;
  justify-content: center;
}
.track--item img {
  height: 260px;
  width: 260px;
  border-radius: 10px;
  padding: 0 12px;
  margin: 0 auto;
}
.track--info {
  max-width: 270px;
  display: flex;
  flex-direction: column;
  justify-content: left;
  margin: 0 auto;
  padding: 0 15px;
}
.track--title {
  color: #ffffff;
  margin-bottom: 0;
}
.track--title:hover {
  text-decoration: underline;
  text-decoration-color: #1cd760;
}
.artist {
  color: #a7a7a7;
  text-decoration: none;
}
.artist:hover {
  text-decoration: none;
}
